################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/metaperson-unity-rendering-sample
/Library
/Logs
/obj/Debug
/Temp
/UserSettings
/metaperson-unity-rendering-sample.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vsconfig
/metaperson_rendering_builtin/Library
/metaperson_rendering_builtin/Logs
/metaperson_rendering_builtin/Temp
/metaperson_rendering_builtin/UserSettings
/metaperson_rendering_builtin/metaperson_rendering_builtin.sln
/metaperson_rendering_builtin/Assembly-CSharp.csproj
/metaperson_rendering_builtin/.vsconfig
/metaperson_rendering_urp/.vs/metaperson_rendering_urp
/metaperson_rendering_urp/obj/Debug
/metaperson_rendering_urp/Logs
/metaperson_rendering_urp/Library
/metaperson_rendering_urp/UserSettings
/metaperson_rendering_urp/metaperson_rendering_urp.sln
/metaperson_rendering_urp/Assembly-CSharp.csproj
/metaperson_rendering_urp/Assembly-CSharp-Editor.csproj
/metaperson_rendering_urp/.vsconfig
